
.vs/
/XiaoQi/bin
/XiaoQi/obj
/XiaoQi.Common/bin
/XiaoQi.Common/obj
/XiaoQi.IRepository/bin
/XiaoQi.IRepository/obj
/XiaoQi.IService/bin
/XiaoQi.IService/obj
/XiaoQi.Model/bin
/XiaoQi.Model/obj
/XiaoQi.Moudle/bin
/XiaoQi.Moudle/obj
/XiaoQi.Repository/bin
/XiaoQi.Repository/obj
/XiaoQi.Service/bin
/XiaoQi.Service/obj
*.user
*.log